##### 점프 투 파이썬
---
02장 연습문제

> Q1    
``` py
    홍길동 씨의 과목별 점수는 다음과 같다. 홍길동 씨의 평균 점수를 구해 보자.

    과목	점수
    국어	80
    영어	75
    수학	55   
```

In [7]:
국어 = 80
영어 = 75
수학 = 55

# 왼쪽(lvalue, 변수) = 오른쪽(rvalue, 값) 
총점 = 국어 + 영어 + 수학
평균 = 총점 / 3

print("평균은 ", 평균, "입니다.")

평균은  70.0 입니다.

In [8]:
# 국어 점수
kor = 80
# 영어 점수
eng = 75
# 수학 점수
math = 55

# 총점
total = kor + eng + math
# 평균
avg = total / 3

print("avg = ", avg)

avg =  70.0

In [22]:
# print(type([]))
subjects = [80, 75, 55]
total = subjects[0] + subjects[1] + subjects[2]

'''
subjects.__len__()
# __ 있는 메소드 : special(magic) method → 객체 내에서만 호출 가능 (오버라이딩 개념)
# 메소드 : 클래스 내에서 구현한 기능

len(subjects)
'''

avg = total / len(subjects)

print("avg = ", avg)

avg =  70.0

In [21]:
subjects = [80, 75, 55]

# help(subjects)

total = sum(subjects) # 210
avg = total / len(subjects)

print("avg = ", avg)

avg =  70.0

In [26]:
# print(type({}))
subjects = {"국어" : 80, "영어" : 75, "수학" : 55}
total = subjects["국어"] + subjects["영어"] + subjects["수학"]
avg = total / len(subjects)

print("avg = ", avg)

avg =  70.0

In [3]:
# 사용자로부터 이름과 성적을 입력받아 총점과 평균을 구해 출력하는 프로그램을 작성하시오.
name = input("이름을 입력하세요 : ")
kor = input("국어 점수를 입력하세요 : ")
eng = input("영어 점수를 입력하세요 : ")
math = input("수학 점수를 입력하세요 : ")

total = int(kor) + int(eng) + int(math) # str → int
avg = total / 3

print(name, "님의 총점 = ", total, ", 평균 = ", avg, "입니다.")
print("%s님의 총점 = %d, 평균 = %f 입니다." % (name, total, avg))
print("{}님의 총점 = {}, 평균 = {} 입니다.".format(name, total, avg))
print(f"{name}님의 총점 = {total}, 평균 = {avg} 입니다.")

# print("입력하신 이름은 : ", name, "입니다.")
# print(type(name))

최은아 님의 총점 =  287 , 평균 =  95.66666666666667 입니다.
최은아님의 총점 = 287, 평균 = 95.666667 입니다.
최은아님의 총점 = 287, 평균 = 95.66666666666667 입니다.
최은아님의 총점 = 287, 평균 = 95.66666666666667 입니다.

> Q2   
``` py
    자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해 말해 보자.
```

In [7]:
# 사용자로부터 정수를 입력받아 홀짝수를 판별해주는 프로그램을 작성하시오.

# 홀수와 짝수 구별법
# 짝수 "02468"
# 홀수 "13579"

number = input("자연수를 입력해주세요")

if number[-1] in "02468" :
    print("짝수입니다.")
else :
    print("홀수입니다.")

짝수입니다.

In [8]:
# 2n + 1, 2n - 1
number = int(input("자연수를 입력해주세요"))

if number % 2 == 0 :
    print("짝수입니다.")
else :
    print("홀수입니다.")

홀수입니다.

> Q3   
``` py   
    홍길동 씨의 주민등록번호는 881120-1068234이다.  
    홍길동 씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.
```

In [12]:
pin = "881120-1068234"

yymmdd = pin[ : 5 + 1]
print(yymmdd)

back = pin[7 : ]
print(back)

881120
1068234

> Q4   
``` py   
    주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다.    
    주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.   
```

In [ ]:
# 주민번호(13자리)를 입력받아 출생년도와 나이, 성별을 출력해주는 프로그램을 작성하시오.

# 사용자 입력받기
pin = input("주민번호 13자리를 입력해주세요 : ")

# 생년월일 추출
yymmdd = pin[ : 6]

# 성별
gender = pin[6]

# 출생 연도
year = ""

# 나이
age = 0

if gender in "12" :
    year = '19' + yymmdd[ : 2]
elif gender in "34":
    year = '20' + yymmdd[ : 2]

age = 2022 - int(year) + 1

print("당신의 출생 연도는 {}년".format(year))
print("당신의 나이는 {}세".format(age))

if int(gender) % 2 == 0 :
    print("여성입니다.")
else :
    print("남성입니다.")

> Q5   
``` py
    다음과 같은 문자열 a:b:c:d가 있다.    
    문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해 보자.   
```

In [49]:
text = "a:b:c:d"
print(text)

print(text.replace(':', '#'))

date = "22:01:18"
print(date.replace(':', '/'))


str = "Python Programming"
print(str.replace("Python", "Java"))

strs = "abcd"
print(strs, end = ' ')
print(strs, end = ' ')
print(strs, end = '\n') # default
print(strs)

for c in strs :
    print(c, end = ' ')

a:b:c:d
a#b#c#d
22/01/18
Java Programming
abcd abcd abcd
abcd
a b c d

> Q6.   
``` py   
    [1, 3, 5, 4, 2]라는 리스트를 [5, 4, 3, 2, 1]로 만들어보자.   
```

In [102]:
myList = [1, 3, 5, 4, 2]

myList.sort()
print(myList)

myList.reverse()
print(myList)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

시험 점수 중 최고점과 최저점 알아내기

In [55]:
score = [100, 30, 50, 40, 20, 95]

score.sort()

print(score[-1])
print(max(score))
max(score) == score[-1] # True (100)

print(score[0])
print(min(score))
min(score) == score[0] # True (20)

100
100
20
20

True

> Q7.   
``` py   
    ['Life', 'is', 'too', 'short'] 라는 리스트를 Life is too short라는 문자열로 만들어 출력해 보자.   
```

In [69]:
old_text = ['Life', 'is', 'too', 'sort']
new_text = ""
# new_text = old_text[0] + " " + old_text[1] + " " + old_text[2] + " " + old_text[3]

# for문 이용하기
for s in old_text :
    print(new_text)
    new_text += s + " "

print(new_text)

# format() 함수를 이용해 바로 출력하기
new_text = "{} {} {} {}".format(old_text[0], old_text[1], old_text[2], old_text[3])
print(new_text)

Life
Life is
Life is too
Life is too sort
Life is too sort

> Q8.   
``` py   
    (1,2,3)이라는 튜플에 4라는 값을 추가하여 (1,2,3,4)처럼 만들어 출력해 보자.   
```

* 리스트에서 인덱싱하기

In [74]:
objects = ['a', 1, True, [100, ['x', 'y']]]
objects[3][1][0] # x
objects[3][0] # 100

100

* 리스트와 튜플의 차이점

In [98]:
myList = [1, 2, 3]
myTuple = (1, 2, 3)
myTuple[1] # 2

myList.append(4)
myList # [1, 2, 3, 4]

myList[0] = 100
print("myList = ", myList)
# 리스트는 값 수정이 가능하다.

'''
myTuple[0] = 100
print("myTuple = ", myTuple)
# 튜플은 값 수정이 불가하다. → 상수화
'''

print("myTuple = ", myTuple)
type(myTuple)

myList =  [100, 2, 3, 4]
myTuple =  (1, 2, 3)

tuple

In [6]:
'''
myList2 = [1, 2, 3, 4]
myTuple2 = tuple(myList2)
print("myTuple2 = ", myTuple2)
'''

myTuple2 = (1, 2, 3)
myList2 = list(myTuple2)
myList2.append(4)
myTuple2 = tuple(myList2)
myTuple2

myTuple2 =  (1, 2, 3, 4)

(1, 2, 3, 4)

> Q9.   
``` py   
    다음과 같은 딕셔너리 a가 있다. 다음 중 오류가 발생하는 경우는 어떤 경우인가?   
    그리고 그 이유를 설명해 보자.   
    >>> a = dict()   
    >>> a   
    {}   

    다음 중 오류가 발생하는 경우를 고르고, 그 이유를 설명해 보자.   

    1. a['name'] = 'python'   
    2. a[('a',)] = 'python'   
    3. a[[1]] = 'python'   
    4. a[250] = 'python'   
```

In [10]:
a = dict()

a['name'] = 'python'
print(a)

a[('a',)] = 'python'
print(a)

# a[[1]] = 'python' # 오류
# 키 값은 불변한(immutable) 객체 타입이 와야 하므로,s 변할 수 있는(mutable) 객체 타입인 리스트는 딕셔너리의 키가 될 수 없다.

a[250] = 'python'
print(a)

{'name': 'python'}
{'name': 'python', ('a',): 'python'}
{'name': 'python', ('a',): 'python', 250: 'python'}

> Q10   
``` py   
    딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.   

    >>> a = {'A':90, 'B':80, 'C':70}   
    ※ 딕셔너리의 pop 함수를 사용해 보자.   
```

In [26]:
a = {'A' : 90, 'B' : 80, 'C' : 70} 
# a['B'] # 80
print(a.pop('B')) # 80
print(a)

# pop() : 꺼내서 버린다는 의미, 그 키에 해당되는 값을 리턴한다.

80
{'A': 90, 'C': 70}

> Q11   
``` py   
    a 리스트에서 중복 숫자를 제거해 보자.   

    >>> a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]    
    ※ 집합 자료형의 요솟값이 중복될 수 없다는 특징을 사용해 보자.    
```

In [20]:
[1, 2, 3]
(1, 2, 3)
{'a' : 1, 'b' : 2, 'c ' : 3} # dict
{1, 2, 3} # set

mySet = {1, 2, 3, 3, 1, 2} 
print(mySet) # set은 알아서 중복이 제거된다.

print(type({1,}))

{1, 2, 3}
<class 'set'>

In [22]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
a2 = set(a)

print(a)
print(a2)

[1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
{1, 2, 3, 4, 5}

> Q12   
``` py   
    파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다.    
    다음과 같이 a, b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면 b 값은 어떻게 될까?    
    그리고 이런 결과가 오는 이유에 대해 설명해 보자.   

    >>> a = b = [1, 2, 3]   
    >>> a[1] = 4   
    >>> print(b)   
```

In [31]:
a = b = [1, 2, 3]
a[1] = 4
print(a)
print(b)

print(id(a))
print(id(b))

# id가 같으면 같은 객체(메모리 주소)를 참조한다. 따라서 b값도 변경된다.

[1, 4, 3]
[1, 4, 3]
2752046494784
2752046494784

In [32]:
a = [1, 2, 3]
b = [1, 2, 3]
a[1] = 4
print(a)
print(b)

print(id(a))
print(id(b))

# a와 b는 다른 객체이므로, a 값을 변경하더라도 b 값은 변경되지 않는다.

[1, 4, 3]
[1, 2, 3]
2752046504128
2752018460032